.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 30%;
  }
body{
    background-color: red;
    justify-content: center;
}

.content{
    margin-left: 30%;
}
  h1 {
    font-size: 24px;
    color: #333;
  }

  h2 {
    font-size: 18px;
    color: #333;
  }

  label {
    display: block;
    margin-top: 10px;
    color: #555;
  }

  input[type="text"] {
    width: 20%;
    padding:1%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    margin-top:2%;
    padding:1%;
    background-color:peru;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #todo-list {
    margin-top: 20px;
    padding: 2%;
    background-color:blue;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20%;
  }